<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Core>
    <ConnectionString>Server=(local);Database=Logus.HMS;Integrated Security=true;MultipleActiveResultSets=true;Application Name=DataPumper</ConnectionString>
    <CurrentDateQuery>SELECT min(PropertyCurrentDate) FROM lr.VProperties</CurrentDateQuery>
    <LogDir>logs/data-pumper</LogDir>
    <ActualityColumnName>ActualDate</ActualityColumnName>
    <HistoricColumns From="HistoryDateFrom" To="HistoryDateTo" />
  </Core>
  <Jobs>
    <Transactions Source="lr.VTransactions" Target="lr.Transactions" />
    <Folios Source="lr.VFolios" Target="lr.Folios" />
    <Invoices Source="lr.VInvoices" Target="lr.Invoices" />
    <Occupation Source="lr.VOccupation" Target="lr.Occupation" HistoricMode="true" />
    <Properties Source="lr.VProperties" Target="lr.Properties" />
    <PropertyCalendar Source="lr.VPropertyCalendar" Target="lr.PropertyCalendar" />
    <Quotas Source="lr.VQuotas" Target="lr.Quotas" />
    <ReservationGuests Source="lr.VReservationGuests" Target="lr.ReservationGuests" />
    <Reservations Source="lr.VReservations" Target="lr.Reservations" />
    <Rooms Source="lr.VRooms" Target="lr.Rooms" />
  </Jobs>
</configuration>