<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Core>
    <CurrentDateQuery>select min(PropertyCurrentDate) from lr.VProperties</CurrentDateQuery>
    <LogDir>logs/data-pumper</LogDir>
    <ActualityColumnName>ActualDate</ActualityColumnName>
    <HistoricColumns From="HistoryDateFrom" To="HistoryDateTo" />
  </Core>
  <Jobs>
    <Transactions Source="VTransaction" Target="lr.Transaction" />
    <Properties Source="VProperties" Target="lr.Properties" />
    <Occupation Source="VOccupation" Target="lr.Occupation" HistoricMode="true" />
  </Jobs>
</configuration>