<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
	</configSections>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" throwConfigExceptions="false" internalLogToConsole="true" autoReload="true" ignoreErrors="true">

		<!-- Main file logs -->
		<targets>
			<default-target-parameters xsi:type="file" createDirs="true" archiveNumbering="Rolling" archiveEvery="Day" encoding="UTF-8" keepFileOpen="true" openFileCacheTimeout="30" concurrentWrites="false" maxArchiveFiles="60">
				<layout xsi:type="CsvLayout">
					<column layout="${longdate}" name="Date" />
					<column layout="${level}" name="Level" />
					<column layout="${logger}" name="Logger" />
					<column layout="${message}" name="Message" />
					<column layout="${exception:format=ToString,StackTrace}" name="Error" />
				</layout>
			</default-target-parameters>

			<target name="logfile" xsi:type="file" fileName="${basedir}/logs/data-pumper.log" archiveFileName="${basedir}/logs/archive/data-pumper.${shortdate}.log" />

		</targets>

		<!-- Detailed data-pumper log -->
		<targets>
			<target name="data-pumper" xsi:type="file" fileName="${basedir}/logs/data-pumper-detailed.log" archiveFileName="${basedir}/logs/archive/data-pumper-detailed.${shortdate}.log" layout="${time}|${message}" />
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>

		<include ignoreErrors="true" file="NLog.local.config" />
	</nlog>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>