<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Core>
    <SourceConnectionString>Server=(local);Database=Logus.HMS;Integrated Security=true;MultipleActiveResultSets=true;Application Name=DataPumper</SourceConnectionString>
    <TargetConnectionString>Server=(local);Database=Logus.HMS.Reporting;Integrated Security=true;MultipleActiveResultSets=true;Application Name=DataPumper</TargetConnectionString>
    <HangFireDashboardUrl>http://localhost:9019</HangFireDashboardUrl>
  </Core>
</configuration>