<?xml version="1.0" encoding="utf-8"?>

<Сonfiguration>
    <Core>
        <CurrentDateQuery>SELECT min(PropertyCurrentDate) FROM lr.VProperties</CurrentDateQuery>
        <ActualityColumnName>ActualDate</ActualityColumnName>
        <TenantField>PropertyCode</TenantField>
        <HistoricColumns From="HistoryDateFrom" To="HistoryDateTo" />
        
        <!-- Source connection string -->
        <ConnectionString>Server=(local);Database=Logus.HMS2;Integrated Security=true;MultipleActiveResultSets=true;Application Name=DataPumper</ConnectionString>
        
        <!-- Target connection string -->
        <TargetConnectionString>Server=(local);Database=Logus.HMS.Reporting;Integrated Security=true;MultipleActiveResultSets=true;Application Name=DataPumper</TargetConnectionString>
        
        <!-- Connection string for storing information about processed table jobs. Can be empty, in this case 'ConnectionString' will be used -->
        <MetadataConnectionString></MetadataConnectionString>
        
        <TenantCodes>MAIN</TenantCodes>
        
        <!-- 2:00 -->
        <ScheduleCron>0 0 2 ? * *</ScheduleCron>
        
        
        
        <!-- Database for storing Jobs -->
        <HangfireConnectionString>Data Source=(local);Initial Catalog=Logus.WarehouseJobs;Integrated Security=true;MultipleActiveResultSets=true;Application Name=DataPumper</HangfireConnectionString>
        
        <HangFireDashboardUrl>http://localhost:9019</HangFireDashboardUrl>
    </Core>
    <Jobs>
        <!--<Transactions Source="lr.VTransactions" Target="lr.Transactions">
            <Queries>
                --><!-- Запрос для выполнения перед синхронизацией --><!--
                <PreRun></PreRun>
                --><!-- Запрос для выполнения после синхронизации --><!--
                <PostRun></PostRun>
            </Queries>
        </Transactions>
        <Folios Source="lr.VFolios" Target="lr.Folios" />
        <Invoices Source="lr.VInvoices" Target="lr.Invoices" />
        <Occupation Source="lr.VOccupation" Target="lr.Occupation" HistoricMode="false" />
        <Properties Source="lr.VProperties" Target="lr.Properties" />
        <PropertyCalendar Source="lr.VPropertyCalendar" Target="lr.PropertyCalendar" />
        <Quotas Source="lr.VQuotas" Target="lr.Quotas" />
        <ReservationGuests Source="lr.VReservationGuests" Target="lr.ReservationGuests" />
        <Reservations Source="lr.VReservations" Target="lr.Reservations" />
        <Rooms Source="lr.VRooms" Target="lr.Rooms" />-->
    </Jobs>
    <EmailNotifications>
        <SmtpServer Adress="AdressOfMailServer" Port="21421" />
        <Sender Email="EmailWhichSendsReports@mail.com" Password="PasswordForSendingEmail" />
        <Recipients></Recipients>
    </EmailNotifications>
</Сonfiguration>