<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" throwConfigExceptions="false" internalLogToConsole="true" autoReload="true" ignoreErrors="true">

  <!-- Console targets -->
  <targets>
    <default-target-parameters xsi:type="ColoredConsole"
                               layout="${time}|${message} ${exception:format=ToString,StackTrace}" />
    <target name="console" xsi:type="ColoredConsole">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="Black" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" backgroundColor="Black" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="Black" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Black" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
    </target>
    <target name="console-i" xsi:type="ColoredConsole">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" backgroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" backgroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
    </target>
    <target name="console-av" xsi:type="ColoredConsole">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" backgroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Blue" backgroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Black" backgroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
    </target>
  </targets>
  
  <!-- Main file logs -->
  <targets>
    <default-target-parameters xsi:type="file"
                               createDirs="true"
                               archiveNumbering="Rolling"
                               archiveEvery="Day"
                               encoding="UTF-8"
                               keepFileOpen="true"
                               openFileCacheTimeout="30" 
                               concurrentWrites="true"
                               maxArchiveFiles="60">
      <layout xsi:type="CsvLayout">
        <column layout="${longdate}" name="Date" />
        <column layout="${level}" name="Level" />
        <column layout="${logger}" name="Logger" />
        <column layout="${message}" name="Message" />
        <column layout="${exception:format=ToString,StackTrace}" name="Error" />
      </layout>
    </default-target-parameters>

    <target name="logfile" xsi:type="file" fileName="${basedir}/logs/datapumper.log" archiveFileName="${basedir}/logs/archive/datapumper.${shortdate}.log"/>
    <target name="datapumperdetailed" xsi:type="file" fileName="${basedir}/logs/datapumperdetailed.log" archiveFileName="${basedir}/logs/archive/datapumperdetailed.${shortdate}.log"/>  
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="Quirco.DataPumper.*" minlevel="Trace" writeTo="datapumperdetailed,console" />
  </rules>

  <include ignoreErrors="true" file="NLog.local.config" />
</nlog>